<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="processes-to-monitor" value="wininit,Boom" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<connectionStrings>
		<add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=processruntimemonitor;AccountKey=JqmzxnwDKCyF19b4pHxpMyW2WLiYPccw9TmHBD9XmRhTCTDiZHKga3D8i/oHpyYcab0r63L2C7/KU2B7Ta00Vw==" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.118.0" newVersion="3.1.118.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>