<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFile" type="log4net.Appender.FileAppender">
			<file value="logs.log" />
			<appendToFile value="true" />
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p | %d{ yyyy/MM/dd hh:mm:ss} | %logger | %message%newline" />
			</layout>
		</appender>

		<appender name="ColoredConsoleAppender"
			  type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Cyan" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>

		<!-- Set root logger level to DEBUG and its only appender to Console -->
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingFile" />
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
	</log4net>
	
	<appSettings>
		<add key="processes-to-monitor" value="wininit,Boom" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
	<connectionStrings>
		<add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=processruntimemonitor;AccountKey=JqmzxnwDKCyF19b4pHxpMyW2WLiYPccw9TmHBD9XmRhTCTDiZHKga3D8i/oHpyYcab0r63L2C7/KU2B7Ta00Vw==" />
	</connectionStrings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.118.0" newVersion="3.1.118.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>