<div class="row">
    <script src="Scripts\Chart.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <p></p>
    <canvas id="canvas" height="450" width="1000"></canvas>
    <pre id="json"></pre>
    <script>
        var uri = 'api/chartdata';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains chart data.
                    var options = {
                        scaleOverlay : true, 
                        scaleOverride: true,
                        scaleSteps: (Math.max.apply(Math, data.datasets[0].data) + 10)/10,
                        scaleStepWidth: 10,
                        scaleStartValue: 0,
                        scaleShowGridLines : true, 
                    };
                    new Chart(document.getElementById("canvas").getContext("2d")).Bar(data, options);
                    $('#json').html(JSON.stringify(data));
                });
        });
    </script>
</div>
